body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 20px;
  background: #f4f7fb;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.dark .container {
  background: #1e1e1e;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: #4f46e5;
}

.dark .title {
  color: #00ffff;
}

.greeting {
  text-align: center;
  color: #444;
}

.quote {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
  font-style: italic;
}

.dark .greeting {
  color: #ff80ab;
}

.dark .quote {
  color: #ffd369;
}

.clock {
  position: fixed;
  top: 15px;
  right: 20px;
  background: rgba(255,255,255,0.9);
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dark .clock {
  background: #1f1f1f;
  color: #00ffff;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.stats p {
  flex: 1;
  min-width: 150px;
  background: #eef2ff;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.dark .stats p {
  background: #2a2a2a;
}

.input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  min-width: 180px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.dark input {
  background: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

.dark input::placeholder {
  color: #aaa;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}

.task-card {
  background: white;
  padding: 18px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.dark .task-card {
  background: #222;
}

.task-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.clear-btn {
  width: 100%;
  margin-top: 20px;
  background: crimson;
  color: white;
}

.reminder {
  color: red;
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

/* RESPONSIVE DESIGN */

@media (max-width: 768px) {

  .container {
    padding: 18px;
  }

  .title {
    font-size: 30px;
  }

  .stats {
    flex-direction: column;
  }

  .input-section {
    flex-direction: column;
  }

  input,
  button {
    width: 100%;
  }

  .task-buttons {
    flex-direction: column;
  }

  .clock {
    top: 10px;
    right: 10px;
    font-size: 14px;
  }

}

.deadline {
  margin-top: 10px;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  background: #eef2ff;
  font-size: 14px;
  font-weight: bold;
}

.dark .deadline {
  background: #333;
  color: #ffd369;
}